<div class="container">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Localização</h5>
        <div class="row">
          <div class="col-xl-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m10!1m3!1d4322.916508867166!2d-45.6855041242914!3d-23.00965225184584!2m1!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc50a6446ff32d%3A0xc60edb887aad191a!2sRecanto%20Bonfim!5e0!3m2!1spt-BR!2sbr!4v1620449845257!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="col-xl-4">
            <h5 class="font-weight-bold">Recanto Bonfim Adventure</h5>
            <h6>Rua Visconde de Mossoró, 4813</h6>
            <h6>Estrada do Pinheirinho, Taubaté-SP</h6>
            <h6>12042-000</h6>
          </div>
        </div>
      </div>
  </div>
</div>
