<div class="container">
  <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Contato</h5>
        <h6>Nos acompanhe e tire suas dúvidas através de nossas redes sociais! Clique na rede social desejada:</h6>
        <div class="row mt-4">
          <div class="col-xl-4 text-center">
            <center>
              <a href="https://api.whatsapp.com/send?phone=5512981522228&text=Olá, estou entrando em contato para tirar dúvidas sobre o Recanto Adventure. Poderia me ajudar? Obrigado!" role="button" target="_blank">
                <img class="rounded-circle" src="images/whatsapp.png" alt="whatsapp" width="100" height="100">
              </a>
            </center>
            <div class="py-5">
              <h6>Recanto Bonfim Adventure</h6>
            </div>
          </div>
          <div class="col-xl-4">
            <center>
              <a href="https://www.facebook.com/recantobonfimtaubate" role="button" target="_blank">
                <img class="rounded-circle" src="images/facebook.png" alt="facebook" width="100" height="100">
              </a>
              <div class="py-5">
                <h6>Recanto Bonfim</h6>
              </div>
            </center>
          </div>
          <div class="col-xl-4">
            <center>
              <a href="https://www.instagram.com/recantoadventure/" role="button" target="_blank">
                <img class="rounded-circle" src="images/instagram.png" alt="instagram" width="100" height="100">
              </a>
              <div class="py-5">
                <h6>Recanto Bonfim Adventure <b></h6>
              </div>
            </center>
          </div>
        </div>
      </div>
  </div>
</div>
